<!DOCTYPE html>
{% load staticfiles %}
<html ng-app = "myApp"   ng-controller="homepageCtrl" >
<head>
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href= "{% static '/css/styles.css' %}" >
  <
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
  -->
  <link rel="stylesheet" href= "{% static '/css/styles.css' %}" >

  <link rel="stylesheet" href="{% static '/css/angular-material.min.css' %}">

  <script src="{% static 'controllers/angular-animate.min.js' %}"></script>

  <link rel="shortcut icon" href="{%static '/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{%static '/favicon.ico' %}" type="image/x-icon">
<!---->
  <script src = "{% static '/controllers/homepageCtrl.js' %}"></script>
  <!-- <script src = " ../controllers/homepageCtrl.js"></script> -->
  <title>Log In</title>
</head>
<body class="loginPage">
    <div layout="column" class="loginPage">
      <md-content layout-padding style="background-color:cadetblue;padding:90px 0" >
        <h1 style="color:white;text-align: center">Please Sign In: </h1>
        <div class="boxWithShadow" style="background-color:white;width:50%;margin:auto;border-radius:25px">
          <div>
            <md-content>
				<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="teacher">

                  {% block content %}

                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                      <p>You are already logged in.</p>
                    {% else %}
                      <p></p>
                    {% endif %}
                  {% endif %}


				  {% if next %}
				  <form class = "form-style" action="/?next={{next}}" method="post" >
				  {%else%}
				  <form class = "form-style" method="post" action=''>
				  {% endif %}


<div >

                            {% csrf_token %}
  <md-input-container>
    <!-- <label>Email </label> -->
    <td>{{ form.username.label_tag }}</td>
          <td>          {{form.username}}</td>
  </md-input-container>
  <br>
      <md-input-container>
            <!-- <label>Password </label> -->
            <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
  </md-input-container>
                  </div>
    <div class = "for-btn">

                    <input  type="submit"style = "background-color: DarkBlue;" value="Log In" />
					<button  type="submit"style = "background-color: DarkBlue; color:white;min-height: 40px;
                    min-width: 78px;" onclick="window.location.href='{% url 'signup' %}' " >Sign Up</button>

                    <input type="hidden" class="md-raised md-primary" name="next" value="{{ next }}" />
                  </div>
                  </form>

                  {# Assumes you setup the password_reset view in your URLconf #}
                  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>




                  {% endblock %}

                </md-tab>





                <md-tab label="student">
					<form class = "form-style" method="post" action=''>
						{% csrf_token %}
						<md-input-container>
			  				<td>{{ studentForm.teacherEmail.label_tag }}</td>
							<td>{{studentForm.teacherEmail}}</td>
						</md-input-container>
						<br>
						<md-input-container>
			  				<td>{{ studentForm.firstName.label_tag }}</td>
							<td>{{studentForm.firstName}}</td>
						</md-input-container>
						<br>
						<md-input-container>
			  				<td>{{ studentForm.lastName.label_tag }}</td>
							<td>{{studentForm.lastName}}</td>
						</md-input-container>
						<br>
						<md-input-container>
			  				<td>{{ studentForm.studentNumber.label_tag }}</td>
							<td>{{studentForm.studentNumber}}</td>
						</md-input-container>
						<br>
						<input  type="submit"style = "background-color: DarkBlue;" value="Log In" />
						<!--
						<button  type="submit"style = "background-color: DarkBlue; color:white;min-height: 40px;
	                    min-width: 78px;" onclick="window.location.href='{% url 'student' %}' " >Log In</button>
						-->
                      </form>
                </md-tab>
                </md-tabs>
             </md-content>
          </div>
        </div>
      </md-content>
    </div>
  </body>
  <footer class="footer">
    <p>This site is a work in progress. Please pardon the dust! </p>
    <p>Click <a href="https://github.com/Fun-Team-Name/Final-Project" target="_blank" style="color:blue;text-decoration:underline">here</a> to visit our git repository.</p>
  </footer>
</html>
