{% load staticfiles %}
<!DOCTYPE html>

<html >
<head>
  <link rel="stylesheet" href= "{% static '/css/styles.css' %}" >

  <link rel="stylesheet" href="{% static '/css/angular-material.min.css' %}">

  <script src="{% static 'controllers/angular-animate.min.js' %}"></script>

  <link rel="shortcut icon" href="{%static '/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{%static '/favicon.ico' %}" type="image/x-icon">
  <title>Log In</title>
</head>
<body class="loginPage">
    <div layout="column" class="loginPage">
      <md-content layout-padding style="background-color:cadetblue;padding:90px 0" >
        <h1 style="color:white;text-align: center">Create Account: </h1>
        <div class="boxWithShadow" style="background-color:white;width:50%;margin:auto;border-radius:25px">
          <div>

            {% block content %}

              <form class = "form-style" method="post" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
              </form>
            {% endblock %}
          </div>
        </div>
      </md-content>
    </div>
  </body>
</html>
