
.inputContainer{
  color: lightblue;
}

.loginPage{
  background-color: cadetblue;
}

.footer{
  text-align:center;
  background-color: #568f91;
  padding:1px;
  margin:0
}

.boxWithShadow{
  text-align:center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0, 6px, 20px, 0, rgba(0, 0, 0, 0.19); */
  box-shadow: 4px 4px 2px #4d8182;
}

.form-style ng-pristine, .form-style ng-valid, .form-style ng-scope, .form-style input{
  display: block;

  margin: auto;
  padding: 10px;


background-color: blue;
color:black;
}
.form-style label{
display:inline-block;
}
.form-style .for-btn input{
  color:white;
  display: inline-block;
  position: relative;

  min-height: 16px;
  min-width: 88px;

  vertical-align: middle;

  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-style textarea{
  color:black;
}
.form-style ng-pristine, .form-style ng-valid, .form-style ng-scope, .form-style textarea, .form-style input#id_username{
  color: black;
  background-color:inherit;
  border-bottom-color: blue;
  border-top:none;
  border-left:none;
  border-top:none;
  margin: auto;
  padding: 10px;

  outline: none;

}

#id_password{
  color: black;
  background-color:inherit;
  border-bottom-color: blue;
  border-top:none;
  border-left:none;
  border-top:none;
  margin: auto;
  padding: 10px;

  outline: none;

}
