{% load staticfiles %}
<!DOCTYPE html>
<html ng-app = "myApp"   ng-controller="cookieCtrl" >
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href= "{% static '/css/styles.css' %}" >

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
  <script src = "{% static '/controllers/cookieCtrl.js' %}"></script>
  <title>Log In</title>
</head>
<body class="loginPage">
    <div layout="column" class="loginPage">
            <div class="boxWithShadow">
				<md-content class="md-padding">
				<div class = "topnav">
					  <a onclick="window.location.href='{% url 'student' %}' " >
						Home
					</a>
					<a onclick="window.location.href='{% url 'leader' %}' " >
					Leader Board
				  </a>
				  <a style = "color: red;" onclick="window.location.href='{% url 'login' %}' " name="goHome">
					Log Out
			  </a>

	</div>
  <textarea id="arena-log" cols="100" rows="5"></textarea><br/>

	</md-content>
            </div>
      <md-content layout-padding style="background-color:cadetblue;padding:90px 0" >
        <h1 style="color:white;text-align: center">Ross's Cookie Clicker Extraviganza</h1>
        <div class="boxWithShadow" style="background-color:white;width:50%;margin:auto;border-radius:25px">
              <h1>Player 1: {%verbatim%}{{p1score}}{%endverbatim%}</h1>
              <br>
              <h1>Player 2:{%verbatim%} {{p2score}}{%endverbatim%}</h1>
              <br>
              <md-input-container>
                  <md-button ng-click="countUp()"><img src="{% static '/spartan-clipart-greek-helmet.png' %}" style="height: 50px;width:50px;"></md-button>
              </md-input-container>
        </div>
      </md-content>
    </div>
  </body>
  <script>
  
    var arenaName = {{ arena_name_json }};

    var arenaSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/arena/' + arenaName + '/');

    arenaSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#arena-log').value += (message + '\n');
    };

    arenaSocket.onclose = function(e) {
        console.error('Arena socket closed unexpectedly');
    };

    document.querySelector('#arena-message-input').focus();
    document.querySelector('#arena-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#arena-message-submit').click();
        }
    };

    document.querySelector('#arena-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#arena-message-input');
        var message = messageInputDom.value;
        arenaSocket.send(JSON.stringify({
            'message': 'test'
        }));

        messageInputDom.value = '';
    };
  </script>
</html>
