{% load staticfiles %}
<!DOCTYPE html>
<html ng-app = "myApp"   ng-controller="cookieCtrl" >
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href= "{% static '/css/styles.css' %}" >

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
  <script src = "{% static '/controllers/cookieCtrl.js' %}"></script>
  <title>Competitive Clicker</title>
</head>
<body class="loginPage">
    <div layout="column" class="loginPage">
            <div class="boxWithShadow">
				<md-content class="md-padding">
				<div class = "topnav">
					  <a onclick="window.location.href='{% url 'student' %}' " >
						Home
					</a>
					<a onclick="window.location.href='{% url 'leader' %}' " >
					Leader Board
				  </a>
				  <a style = "color: red;" onclick="window.location.href='{% url 'login' %}' " name="goHome">
					Log Out
			  </a>

	</div>

	</md-content>
            </div>
      <md-content layout-padding style="background-color:cadetblue;padding:90px 0" >
        <h1 style="color:white;text-align: center">Ross's Cookie Clicker Extraviganza</h1>
        <div class="boxWithShadow" style="background-color:white;width:50%;margin:auto;border-radius:25px">
              <h1>{{alias_json}}: <span id ="p1score"></span></h1>
              <br>
              <md-input-container>
                <md-button aria-label="Submit" ng-click="countUp()" onclick="send()"><img src="{% static '/spartan-clipart-greek-helmet.png' %}" style="height: 50px;width:50px;"></md-button>
              </md-input-container>
              <br>
              <!-- Print each other player in dictionary --->
              <!--
              <h1 ng-repeat="(player, score) in dict">{%verbatim%}{{player}}{%endverbatim%}: {%verbatim%}{{score}}{%endverbatim%} </h1>
              -->
              <h1 id="otherScores"></h1>
              <br>

        </div>
      </md-content>
      <!-- Toggle for debuging maybe -->
      <textarea  id="arena-log" cols="100" rows="5"></textarea><br/>

    </div>

  </body>
  <script>

    var p1score = 0;
    document.getElementById("p1score").innerHTML = p1score;

    var arenaName = {{ arena_name_json }};
    var alias = {{ alias_json  }};
    console.log(alias);
    var scope = angular.element(document.querySelector('[ng-controller="cookieCtrl"]')).scope();

    var otherScores = document.getElementById("otherScores");

    dict = new Object();

    var arenaSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/arena/' + arenaName + '/');

    arenaSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        //var otherName = JSON.stringify(data['userName']);
        otherName = data['userName'];
        console.log("receiveing: "+otherName);


        var otherScore = parseInt( message,10);
        document.querySelector('#arena-log').value += (otherName +": "+ message + '\n');

        // update other username's score
        if(otherName != alias){
          //console.log(otherName);
          dict [otherName]= otherScore;
          displayOtherScores();
        }

    };

    arenaSocket.onclose = function(e) {

        console.error('Arena socket closed unexpectedly');
    };

    function send (){
      p1score++;
      document.getElementById("p1score").innerHTML = p1score;
      // incramented in the controler
      //var score = angular.element(document.querySelector('[ng-controller="cookieCtrl"]')).scope().p1score
      //var alias = {{ alias_json }};
      console.log("sending: "+alias);
      arenaSocket.send(JSON.stringify({
          userName: alias,
          message: p1score
      }));
    }

    function displayOtherScores(){
      otherScores.innerHTML = "";
      for (player in dict){
          otherScores.innerHTML = otherScores.innerHTML + player +": "+ dict[player]+ "<br>";
      }

    }

  </script>
</html>
