<!-- arena/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Arena Loby</title>
</head>
<body>
    What arena would you like to enter?<br/>
    <input id="arena-name-input" type="text" size="100"/><br/>
    Enter an alias<br/>
    <input id = "alias" type="text" size="100"/><br/>
    <input id="arena-name-submit" type="button" value="Enter"/>

    <script>
        document.querySelector('#arena-name-input').focus();
        document.querySelector('#arena-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#arena-name-submit').click();
            }
        };

        document.querySelector('#arena-name-submit').onclick = function(e) {
            var arenaName = document.querySelector('#arena-name-input').value;
            var alias = document.querySelector('#alias').value;
            window.location.pathname = '/arena/' + arenaName + '/' + alias;
        };
    </script>
</body>
</html>
