{% extends "teacherBase.html" %}
{%block title%}
<title>Teacher</title>
{%endblock title%}


<body class="loginPage" ng-app="myApp" ng-controller="teacherHomeCtrl">
  <!-- Top Nav Bar-->
  <div class="boxWithShadow">
    <md-content class="md-padding">
      <div class="topnav">
        <a onclick="window.location.href='{% url 'teacher' %}' ">
          Home
        </a>
        <a onclick="window.location.href='{% url 'leader' %}' ">
          Leader Board
        </a>
        <a style="color: red;" onclick="window.location.href='/teacher/logout' ">
          Log Out {{request.user.email}}
        </a>

      </div>
    </md-content>
  </div>
  {% block content %}
  {% endblock %}
</body>

</html>
