
{% load staticfiles %}
<html ng-app="myApp" ng-controller="homepageCtrl">

<head>
  <link rel="stylesheet" href="{% static '/css/styles.css' %}">

  <link rel="stylesheet" href="{% static '/css/angular-material.min.css' %}">

  <script src="{% static 'controllers/angular-animate.min.js' %}"></script>

  <link rel="shortcut icon" href="{%static '/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{%static '/favicon.ico' %}" type="image/x-icon">
  
  <title>Log In</title>
</head>

<body class="loginPage">
  <div layout="column" class="loginPage">
    <md-content layout-padding style="background-color:cadetblue;padding:90px 0">
      <h1 style="color:white;text-align: center">Please Sign In: </h1>
      <div class="boxWithShadow" style="background-color:white;width:50%;margin:auto;border-radius:25px">
        <div>
          <md-content>
            {% block content %}
            {% endblock %}
          </md-content>
        </div>
      </div>
    </md-content>
  </div>
</body>
<footer class="footer">
  <p>This site is a work in progress. Please pardon the dust! </p>
  <p>Click <a href="https://github.com/Fun-Team-Name/Final-Project" target="_blank" style="color:blue;text-decoration:underline">here</a>
    to visit our git repository.</p>
</footer>

</html>
