{% extends "teacherBase.html" %}
{%block title%}
    <title>Room</title>
{%endblock title%}

{% block content %}
    <h1 style="text-align:center;color:white">Edit Room View</h1>
    <md-content layout-wrap style="background-color:cadetblue;" class="md-padding" flex layout-xs="column" layout="row">
        <md-card md-theme="default" flex="100">
            <md-card-title-text layout-padding style="text-align:center"><b>Students (Total: {{students|length}})</b></md-card-title-text>
            <md-card-content layout-padding>
                <div style="overflow-x:auto;">
                <table cellspacing="0" class="students">
                    <thead>
                        <tr>
                            <th>Last</th>
                            <th>First</th>
                            <th>Student Number</th>
                            <th>Total</th>
                            <th>Correct</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    {% for item in students %}
                    <tr class="tblrow">
                        <td>{{item.lastName}}</td>
                        <td>{{item.firstName}}</td>
                        <td>{{item.studentNumber}}</td>
                        <td>{{item.numberTotal}}</td>
                        <td>{{item.numberCorrect}}</td>
                        <td>
                            <a href="{% url 'deleteStudent' item.key %}" onclick="return confirm('Are you sure you want to delete {{item.firstName}} {{item.lastName}}');">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    <div ng-show="!newStudBool">
                        <tr class="tblrow">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <td>{{form.lastName}}</td>
                                <td>{{form.firstName}}</td>
                                <td>{{form.studentNumber}}</td>
                                <td><button type="submit">Create</button></td>
                                <td></td>
                                <td></td>
                            </form>
                        </tr>
                    </div>
                </table>
            </div>
                <md-card-actions>
                    <!-- <md-button ng-csv="getArray" filename="studentData.csv">Export</md-button> -->
                </md-card-actions>
            </md-card-content>
        </md-card>
    </md-content>

{% endblock content %}
