{% load staticfiles %}
<!DOCTYPE html>

<html >
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <link rel="stylesheet" href= " {% static 'css/styles.css' %} " >
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
  <!-- <script src = "{% static '/controllers/homepageCtrl.js' %}"></script> -->

  <title>Log In</title>
</head>
<body class="loginPage">
    <div layout="column" class="loginPage">
      <md-content layout-padding style="background-color:cadetblue;padding:90px 0" >
        <h1 style="color:white;text-align: center"> Create Account: </h1>
        <div class="boxWithShadow" style="background-color:white;width:50%;margin:auto;border-radius:25px">
          <div>

            {% block content %}
<md-input-container>
              <!-- <form class = "signup-style" method="post" action=" {% url 'login' %} "> -->
                <form class = "form-style" method="post">
                  {% csrf_token %}
				  {{ form.as_p }}
				  <button type="submit">Sign Up</button>
              </form>
            </md-input-container>
            {% endblock %}
          </div>
        </div>
      </md-content>
    </div>
  </body>
</html>
